{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <h2>Welcome to LunaVerse</h2>
    <p>Exploring the infinite possibilities of code and creativity.</p>
</section>

<section class="grid">
    <a href="/uppercase" class="card">
        <h3>🔠 Uppercase Converter</h3>
        <p>Transform any text into uppercase.</p>
    </a>
    <a href="/circle" class="card">
        <h3>⚪ Area of a Circle</h3>
        <p>Quickly calculate the area of a circle.</p>
    </a>
    <a href="/triangle" class="card">
        <h3>🔺 Area of a Triangle</h3>
        <p>Compute the area of a triangle in one click.</p>
    </a>
    <a href="/infix_postfix" class="card">
        <h3>🪐 Infix to Postfix</h3>
        <p>Convert infix expression to postfix</p>

</section>
{% endblock %}
