{% extends 'base.html' %}
{% block content %}
<section class="form-card">
    <h2>🔺 Triangle Area Calculator</h2>

    <form action="/triangle" method="post">
        <label for="base">Enter base:</label>
        <input type="number" id="base" name="base" step="any" placeholder="Enter base">

        <label for="height">Enter height:</label>
        <input type="number" id="height" name="height" step="any" placeholder="Enter height">

        <button type="submit">Calculate</button>
    </form>

    {% if area %}
    <p>Area of triangle: {{ area }}</p>
    {% endif %}

    <a href="/" class="btn" style="margin-top: 25px;">⬅ Back to Home</a>
</section>
{% endblock %}
